body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h5, p, span, ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0px 27px;
}

/* Main screen + header */
.main-screen {
    height: 820px;
    background-image: url('../assets/main-screen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

.header {
    padding-top: 70px;
    display: flex; 
    justify-content: space-between;
}

.header a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 65px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
   
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    transition-duration: .25s;
    right: -100%;
    padding-top: 15px;
    visibility: hidden;
    transition-duration: .25s;
}

.nav-list a {
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
    padding-top: 15px;
    transition-duration: .25s;
}

.nav-list a:first-child {
    padding-top: 0;
}

.nav-list a:hover {
    border-bottom: 2px solid #fff;
}

.nav-list a:last-child {
    margin-right: 0;
}

.menu-toggle{
    opacity: 0;
  }
   
  .menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }

  .menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }

  .menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }

  .menu-toggle:checked ~ .nav-list{
    visibility: visible;
    right: 0;
  }

.main-screen__content {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    padding-top: 0;
}

.main-screen__content-heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 377px;
    margin: 15px auto 40px;
}

.main-screen__content-description {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    max-width: 420px;

    color: #c2c2c2; 
}

/* Second screen - Headline Screen */

.headline-screen {
    padding: 100px 0;
    text-align: center;
}

.headline-screen__heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
    max-width: 670px;
    margin: 0 auto;
}


.headline-screen__underheading {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    max-width: 425px;
    margin: 50px auto;
}

.headline-screen__pharagraph {
    display: grid;
    row-gap: 30px;
    grid-template-rows: repeat(2, 2fr);
}

.headline-screen__description {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-align: initial;
}

.headline-screen__button {
    width: 115px;
    height: 35px;
    background: #55C2D8;
    border-radius: 18px;
    margin: 0 auto; 

    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* therd screen - learn screen */

.learn-screen {
    height: 665px;
    background-image: url(../assets/last-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.learn-screen__content {
    max-width: 395px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

.learn-screen__heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.learn-screen__button {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: #39C2D7;   
    margin: 50px auto 70px;
    cursor: pointer;
    z-index: 0;
}

.learn-screen__button span {
    color: #fff;
    font-size: 65px;
    margin-left: 15px;
}

.learn-screen__descripton {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #c2c2c2;
}

/* footer */

.footer {
    background-color: #464547;
    height: 295px;
    text-align: center;
}

.footer .wrapper {
    display: grid;
    grid-template-rows: 45px 100px 45px;
    margin: 0 auto;
    padding-top: 55px;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

.footer__logo-img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.footer__logo-log {
    margin-left: 10px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contacts a{
    display: block;
    text-decoration: none;
    margin-top: 15px;
}

.footer__address, .footer__email,
.footer__rul, .contacts a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 768px) {

    .wrapper {
        padding: 0px 80px;
    }

    .nav {
        max-width: 420px;
        margin: 0 auto;
    }

    .menu-toggle{
        display: none;
    }

    .menu-btn {
        visibility: hidden;
    }

    .nav-list {
        flex-direction: row;
        visibility: visible;
        padding-top: 0px;
    }

    .nav-list a {
        margin-right: 30px;     
        padding-bottom: 0px;  
        padding-top: 0px;
    }

    .nav-list a:last-child {
        margin-right: 0;
    }

    .main-screen__content {
        padding-top: 15%;
    }

    .headline-screen__pharagraph {
        grid-template-columns: repeat(2, 2fr);
        column-gap: 75px;
        row-gap: 0px;
        grid-template-rows: none;
    }

    .headline-screen__button {
        margin: 40px auto 0;
    }

    .footer {
        height: 200px;
        text-align: justify;
    }
    
    .footer .wrapper {
        grid-template-columns: repeat(3, 3fr);
        padding-top: 55px;
        grid-template-rows: none;
    }

    .footer__logo {
        display: flex;
        justify-content: start;
    }

    .contacts a{
        margin-top: 30px;
    }
    
    .footer__rul {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .footer__address, .footer__email,
    .footer__rul, .contacts a {
        font-size: 14px;
    }
}

@media screen and (min-width: 920px) {
    .wrapper {
        padding: 0px 140px;
    }

    .footer__address, .footer__email,
    .footer__rul, .contacts a {
        font-size: 16px;
    }
}